# Analysis of Diabetes Dataset by using Linear Regression

In [1]:
# importing all necessary lib that gonna use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Loading Training Data
data = pd.read_csv("0000000000002329_training_diabetes_x_y_train.csv")
data.head(10)

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628,180.0
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0
5,-0.060003,0.050680,-0.047163,-0.022885,-0.071743,-0.057681,-0.006584,-0.039493,-0.062913,-0.054925,72.0
6,-0.074533,0.050680,0.055229,-0.040099,0.053469,0.053174,-0.043401,0.071210,0.061238,-0.034215,68.0
7,-0.016412,-0.044642,-0.013751,0.132044,-0.009825,-0.003819,0.019187,-0.039493,-0.035817,-0.030072,216.0
8,0.023546,0.050680,-0.020218,-0.036656,-0.013953,-0.015092,0.059685,-0.039493,-0.096433,-0.017646,47.0
9,0.074401,-0.044642,0.031517,0.101058,0.046589,0.036890,0.015505,-0.002592,0.033657,0.044485,296.0

In [3]:
# Checking the NaN value in data.
data.isnull().sum()

# age    0
sex      0
bmi      0
bp       0
s1       0
s2       0
s3       0
s4       0
s5       0
s6       0
Y        0
dtype: int64

In [4]:
# Slicing according to data and target values
x = data.iloc[:,0:10]
y = data.iloc[:,10]

In [5]:
x.shape

(331, 10)

In [6]:
# Importing Algorithm or Classifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [7]:
# Spliting the dataset for train and testing into 25% ratio by default
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [8]:
print(x_test.shape, y_test.shape)

(83, 10) (83,)

In [9]:
# Classifier
algo = LinearRegression()

In [10]:
# Train the Data
algo.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
# Prediction of Test data
pred = algo.predict(x_test)
pred

array([ 49.62775207,  89.58174282, 183.23052502, 164.63033168,
       177.59767393, 184.97616639, 109.2977218 ,  56.39991348,
       288.87968862,  59.23783065, 261.43849737, 238.57054957,
       153.64008652, 175.67012124, 209.97805086, 119.4025572 ,
        95.93222945,  55.26810418, 137.79175182, 176.52195647,
       244.86729285, 135.28837075,  68.77334997, 200.6243722 ,
        59.228468  , 238.25906432, 127.55386817, 163.30100782,
        80.09956191,  65.39113861, 169.75242783, 118.83510506,
        64.79269569, 175.8002906 , 125.95907252, 133.0641401 ,
       224.03077693, 195.74388118,  98.4562898 , 124.74849867,
       177.91857484, 194.39415031, 146.35348352, 109.703256  ,
       231.37747855, 145.36389261,  67.52472683, 139.60850791,
       146.31421253, 291.22864538, 136.41606866,  53.88090857,
       122.9397901 , 171.49148507, 105.27734834, 188.61274799,
       269.95737913,  83.24065513, 213.70566432, 150.45825851,
       168.04679731, 178.7718982 ,  82.07942632, 116.34237834,
       152.01315554,  97.86445284, 222.87240516, 111.90992616,
        41.89128446, 160.28876132, 162.53358373,  47.88248416,
       156.25324478, 109.3884125 , 153.25997134, 143.91897255,
       152.32521276, 146.79902917, 235.54905428, 220.69775604,
       149.79393254, 161.99918034, 251.24918176])

In [12]:
# Checking Score
score = algo.score(x_test, y_test)
score

0.5137709255899516

In [13]:
# Load new data for getting prediction values
col_name =  ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']
new_test_data = pd.read_csv("0000000000002329_test_diabetes_x_test.csv", names=col_name)
new_td = pd.DataFrame(new_test_data)
new_td

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.023546,0.050680,-0.037463,-0.046985,-0.091006,-0.075530,-0.032356,-0.039493,-0.030751,-0.013504
1,-0.078165,-0.044642,-0.073030,-0.057314,-0.084126,-0.074277,-0.024993,-0.039493,-0.018118,-0.083920
2,-0.030942,0.050680,0.001339,-0.005671,0.064477,0.049416,-0.047082,0.108111,0.083797,0.003064
3,-0.005515,0.050680,0.001339,-0.084857,-0.011201,-0.016658,0.048640,-0.039493,-0.041180,-0.088062
4,-0.020045,-0.044642,-0.084886,-0.026328,-0.035968,-0.034194,0.041277,-0.051671,-0.082381,-0.046641
...,...,...,...,...,...,...,...,...,...,...
106,0.009016,0.050680,0.069241,0.059744,0.017694,-0.023234,-0.047082,0.034309,0.103292,0.073480
107,0.005383,-0.044642,0.049840,0.097616,-0.015328,-0.016345,-0.006584,-0.002592,0.017037,-0.013504
108,0.009016,-0.044642,-0.012673,0.028758,-0.018080,-0.005072,-0.047082,0.034309,0.023375,-0.005220
109,0.019913,-0.044642,-0.034229,0.055153,0.067229,0.074155,-0.006584,0.032833,0.024725,0.069338
110,0.016281,0.050680,0.009961,-0.043542,-0.096510,-0.094632,-0.039719,-0.039493,0.017037,0.007207

In [14]:
new_td.isnull().sum()

age    0
sex    0
bmi    0
bp     0
s1     0
s2     0
s3     0
s4     0
s5     0
s6     0
dtype: int64

In [15]:
# Prediction of New Datasets which is called as "Test Data"
pred_new_data = algo.predict(new_td)
pred_new_data.shape

(111,)

In [16]:
#Scoring of new data set
score_new_data = algo.score(new_td, pred_new_data)
score_new_data

1.0

In [17]:
# Save Prediction values in csv file
import csv
with open('New_Prediction.csv', 'w') as f:
    for c in pred_new_data:
        d = round(c, 5)
        f.write(str(d))
        f.write("\n")

                                                                                               Submitted By :- Ashish Prasad